@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
  --Blue: hsl(246, 80%, 60%);
  --soft-orange: hsl(15, 100%, 70%);
  --Soft-blue : hsl(195, 74%, 62%);
  --Light-red : hsl(348, 100%, 68%);
  --Lime-green : hsl(145, 58%, 55%);
  --Violet : hsl(264, 64%, 52%);
  --Soft-yellow : hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);
}

/* utility classes */

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

/* ------------------------------------------------------------- */
/* backgrounds for the time cards */
.bg#work{
  background: var(--soft-orange);
}

.bg#play{
  background: var(--Soft-blue);
}

.bg#study{
  background: var(--Light-red);
}

.bg#exercise{
  background: var(--Lime-green);
}

.bg#social{
  background: var(--Violet);
}

.bg#selfCare{
  background: var(--Soft-yellow);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--Very-dark-blue);
  color: var(--white);
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
}

img{
  max-width: 100%;
}

li{
  color: var(--Desaturated-blue);
  list-style: none;
  cursor: pointer;
}

li:hover,
li:focus{
  color: var(--white);
}

.active{
  color: var(--white);
}

.App{
  width: 90%;
  margin-inline: auto;
  margin-block: 3em;
}

.name{
  font-weight: lighter;
}

h1{
  font-weight: lighter;
  font-size: 2rem;
}

.user--info{
  background: var(--Blue);
  border-radius: 15px;
  padding: 1.5rem 2rem;
}

.user--info p{
  color: var(--Pale-Blue);
}

img.userImg{
  width: 3em;
  border: 3px solid var(--white);
  border-radius: 50%;
  margin-right: 1em;
}

.time--div{
  padding: 1.2rem 2rem;
  background: var(--Dark-blue);
  border-radius: 0 0 15px 15px;
}

.tracker{
  border-radius: 15px;
  background: var(--Dark-blue);
  margin-bottom: 1.5em;
}

.tabContent{
  display: none;
}

.tabContent.active{
  display: block;
}

.card{
  transition: all 0.3s ease;
  background: var(--Dark-blue);
  padding: 1rem ;
  border-radius: 15px;
}

.card--title{
  font-size: 18px;
}

img.ellipsis{
  width: 20px;
  height: 6px;
}